@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

body {
    font-size: 12px;
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    font-family: 'Kumbh Sans', sans-serif;
}

.container {
    display: grid;
    max-width: 20rem;
    margin:auto;
    margin-top: 10rem;
    background-color: #fff;
    border-radius: 1rem;
    padding: 0 3rem;
}

.mobile-container {
    display: grid;

    img {
        grid-row: 1/2;
        grid-column: 1/2;
    }

    .mobile-top {
        margin: -6.5rem auto;
        padding-right: 2rem;
    }

    .mobile-bottom {
        margin: auto;
    }
}

.question {
    display: flex;
    justify-content: space-between;

    &:hover {
        font-weight: 700;
    }

    img {
        height: .75rem;
        width: 1rem;
        align-self: center;
    }

}

.answer {
    padding-right: 1rem;
}


/* Javascript toggles */
.hidden {
    display: none;
}

.up {
    transform: scaleY(-1);
}