@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
body {
  font-size: 12px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#af67e9), to(#6565e7));
  background-image: linear-gradient(#af67e9, #6565e7);
  background-repeat: no-repeat;
  font-family: 'Kumbh Sans', sans-serif;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 3fr;
      grid-template-columns: 3fr 3fr;
  margin: 10rem auto;
  max-width: 55rem;
  background-color: #fff;
  border-radius: 1rem;
  -webkit-box-shadow: 0.3rem 1.5rem 2rem 0.5rem rgba(0, 0, 0, 0.25);
          box-shadow: 0.3rem 1.5rem 2rem 0.5rem rgba(0, 0, 0, 0.25);
}

.bg-illustration {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  overflow: hidden;
}

.bg-illustration img {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.bg-illustration .desktop-top {
  margin: 4.1rem -5.5rem 4.1rem;
}

.bg-illustration .desktop-bottom {
  margin: -18.5rem -36.2rem;
}

.box-illustration {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  z-index: 100;
}

.box-illustration img {
  margin: 12.3rem -5.8rem 0;
}

.mobile-illustration {
  display: none;
}

.info {
  margin: 4rem 2rem;
  width: 20rem;
}

.info h1 {
  font-size: 2rem;
}

.info .card {
  border-bottom: solid 0.1rem #e7e7e9;
}

.question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: .825rem;
  color: #4a4b5e;
}

.question:hover {
  color: #f47c57;
  font-weight: 700;
  cursor: pointer;
}

.question img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.answer {
  padding-right: 1.5rem;
  color: #787887;
  line-height: 1.4rem;
}

.answer p {
  margin-top: 0;
}

@media (max-width: 800px) {
  .bg-illustration,
  .box-illustration {
    display: none;
  }
  .container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    max-width: 21rem;
  }
  .mobile-illustration {
    display: -ms-grid;
    display: grid;
  }
  .mobile-illustration img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .mobile-illustration .mobile-top {
    margin: -6.8rem auto;
    padding-right: 2rem;
  }
  .mobile-illustration .mobile-bottom {
    margin: auto;
  }
  .info {
    margin: 0;
    width: auto;
    padding: 1rem 1.5rem 3rem 1.5rem;
  }
  .info h1 {
    text-align: center;
  }
}

/* Javascript toggles */
.hidden {
  display: none;
}

.up {
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
}

.focus {
  font-weight: 700;
  color: #1d1e35;
}
/*# sourceMappingURL=style.css.map */